<div class="main-container">
    <div class="w-100">
        stai lavorando su <strong>Esempio</strong>
    </div>
    <div class="container">
        <div class="action-container">
            <div>
                copia sett.pre.
            </div>
            <i class="fa-solid fa-list-ul"></i>
        </div>
        <div class="action-container">
            <div>
                Cancella
            </div>
            <i class="fa-solid fa-trash"></i>
        </div>
        <div class="action-container">
            <div>
                Invia griglia al dipendente
            </div>
            <i class="fa-solid fa-print"></i>
        </div>
        <div class="action-container">
            <div>
                Invia griglia al cliente
            </div>
            <i class="fa-solid fa-print"></i>
        </div>
    </div>
</div>
