<div class="container">
    <ul>
        <li><a href=""><i class="fas fa-th-list" aria-hidden="true"></i></a></li>
        <li><a href=""><i class="fa-solid fa-signal"></i></a></li>
        <li><a href=""><i class="fa-solid fa-folder"></i></a></li>
        <li><a href=""><i class="fa-solid fa-users"></i></a></li>
        <li><a href=""><i class="fa-regular fa-calendar-days"></i></a></li>
        <li><a href=""><i class="fa-solid fa-square"></i></a></li>
        <li><a href=""><i class="fa-solid fa-gear"></i></a></li>
    </ul>

    <img src="assets/img/flag.jpg" alt="">
</div>
