
<div class="container">
    <h3>Team</h3>
    <div class="list-container">
        <div class="row">
            <strong>Team 1</strong>
            <div>
                Nome e cognome
            </div>
        </div>
        <div class="row">
            <strong>Team 2</strong>
            <div>
                Nome e cognome
            </div>
            <div>
                Nome e cognome
            </div>
            <div>
                Nome e cognome
            </div>
            <div>
                Nome e cognome
            </div>
        </div>
        <div class="row">
            <strong>Team 3</strong>
            <div>
                Nome e cognome
            </div>
            <div>
                Nome e cognome
            </div>
            <div>
                Nome e cognome
            </div>
            <div>
                Nome e cognome
            </div>
        </div>
    </div>
</div>