.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: column;
}

.list-container {
    overflow: auto;
    width: 90%;
    max-height: 20vh;
}