<div class="container">
    <div class="search-input">
        <i class="fa-solid fa-search"></i>
        <input type="text" placeholder="Ricerca servizio">
    </div>
    <div class="filter-container">
        <ul>
            <li><a href="">Attivo</a></li>
            <li><a href="">Inattivo</a></li>
            <li><a href="">Spot</a></li>
        </ul>
    </div>
    <div class="service-list-container">
        <div *ngFor="let item of [1,2,3]">
            <div class="row">
                <div class="text">
                    <strong>Servizio {{ item }}</strong>
                    <p>descrizione</p>
                    <small>info</small>
                </div>
                <div class="icon">
                    <i class="fa-solid fa-pencil"></i>
                </div>
            </div>
        </div>
    </div>
    
</div>